<div class="container">
<h1>My reservations</h1>
    <% @bookings.each do |booking| %>
          <ul>
            <p>Lugar: <%= booking.place_id %></p>
            <p>Reservado desde: <%= booking.start_date %></p>
            <p>Hasta: <%= booking.end_date %></p>
          </ul>
    <% end %>
</div>
<%= link_to "Regresar", root_path, class:"btn btn-success"%>
