// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

.card-img-top {
  max-height: 250px;
  overflow: hidden;
}

.card-title a:link {
  font-size: 30px;
  background-color: transparent;
  color: #000000;
  text-decoration: none;
}

.card-title a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

body{
background-color: aqua;
}

.container{
  border-radius: 25%;
}
