<h1 class="text-center">PLACES LIST</h1>
<div id="articles" class="container">

    <% @places.each do |place| %>
      <%= render 'place', locals: { place: place } %>
      <p>
  <% end %>

  <%= button_to "New Place", new_place_path, method: :get  %>
</div>
