<div class="container">
  <%= render @place %>

  <%= link_to "Back to places", root_path %>
  <%= link_to "Edit place", edit_place_path %>
  <%= button_to "Destroy this place", @place, method: :delete %>

</div>
